@mixin opacity($opacity) {
  -ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  filter: unquote("alpha(opacity=#{round($opacity * 100)})");
  opacity: $opacity;
}

@function pct($target, $context) {
  @if not unitless($target) {
    $target: strip-units($target);
  }
  @if not unitless($context) {
    $context: strip-units($context);
  }
  @return ($target / $context) * 100%;
}

@function percs($target, $context) {
  @return pct($target, $context);
}

// @function em($pixels, $em-base) {
//   @return #{$pixels/$context}em;
// }
@function em($pixels, $context: $em-base) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

@mixin no-selection {
  &::-moz-selection {
    background: transparent;
    text-shadow: none;
  }

  &::selection {
    background: transparent;
    text-shadow: none;
  }
}

@mixin placeholder-styling { color: rgba(153, 153, 153, 0.5) !important; @include opacity(100); }

/*// BOOTSTRAP EQ HEIGHT*

/* content styles */

.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none!important;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none!important;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none!important;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none!important;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1281px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none!important;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

/*extends*/
.center-pos {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
// @define-extend center-all {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform:translate(-50%,-50%);
// }

#content{
  min-height: calc(100vh - 60px);
  overflow: hidden;
}
.footer{
  // height: 60px;
}
