$color-text: #000;
$bg-button: #007cc2;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

$em-base: 16px;

$blue: #00ACE6;
$light-blue: #66CDF0;
$lightest-blue: #D9F3FB;
$darker-blue: #0075BF;
$dark-blue: #20409A;

$purple: #76418C;

$materialFont: "Material Design Icons";

$MD: "Material Design Icons";
$FA: "FontAwesome";
